{{#> layouts/base title="샘플페이지" }}

    {{#*inline "head-block"}}
        <style>
            .extra-bottom-padding {
                margin-bottom: 20px;
            }
        </style>
    {{/inline}}

    {{#*inline "body-block"}}
        <div clas="article-wrapper row extra-bottom-padding">
            <div class="row">
                <div class="page-header">
                    <h1>{{article.title}}</h1>
                </div>
            </div>

            <div class="row extra-bottom-padding">
                <span>
                    글쓴이 : <strong>{{article.user.username}}</strong>
                </span>
                <span>
                    작성시간 : <strong>{{temporalFormat article.created "yyyy MM-dd hh:mm:ss"}}</strong>
                </span>
            </div>

            <div class="row panel panel-default">
                <div class="panel-body">
                    {{{article.body}}}
                </div>
            </div>
        </div>

        <hr>

        <div class="comment-wrapper row panel panel-default">
            <div class="panel-heading">Panel heading</div>
            <ul class="list-group">
                {{#each article.comment}}
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{user.username}}{{temporalFormat created "yyyy MM-dd hh:mm:ss"}}</h4>
                                <p>{{body}}</p>
                            </div>
                        </div>
                    </li>
                {{/each}}
                {{!--TODO 로그인 여부에 따라 글쓰기창 표현하기--}}
                <li class="list-group-item comment-writer">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                        </div>
                        <div class="media-body">

                            <h4 class="media-heading">{{user.username}}</h4>
                            <p>
                                <textarea class="form-control" rows="3"></textarea>
                            </p>
                            <p>
                                <button type="button" class="btn btn-default  pull-right">글쓰기</button>
                            </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    {{/inline}}

    {{#*inline "script-block"}}
    {{/inline}}

{{/layouts/base}}